.OwnAnimation {
    background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 0%);
    animation: pickAnimation 0.7s ease-in-out 0s infinite alternate;
}

@keyframes pickAnimation {
    0% {
        background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 0%);
    }
    25% {
        background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 25%);
    }
    30% {
        background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 35%);
    }
    75% {
        background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 45%);
    }
    100% {
        background: linear-gradient(0deg, rgba(249,43,4,1) 0%, rgb(139, 0, 0) 60%);
    }
}

.Timer12 {
    margin: 0 0;
    animation: shrinkTimer 30s linear 0s forwards;
}

@keyframes shrinkTimer {
    100% {
        margin: 0 50%;
    }
}

