.OwnAnimationRed {
    background: linear-gradient(320deg, #F7B399, #8E0902);
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation: pickAnimation 1s linear 0s infinite alternate;
}

.OwnAnimationBlue {
    background: linear-gradient(250deg, #686368, #51BFD2);
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation: pickAnimation 1s linear 0s infinite alternate;
}

@keyframes pickAnimation {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}

.Timer12 {
    margin: 0 0;
    animation: shrinkTimer 30s linear 0s forwards;
}

@keyframes shrinkTimer {
    100% {
        margin: 0 50%;
    }
}

